[my_toys_menu] {
	flex: 1 1 400px;
}

[my_toys_question_card] {
	min-height: 70px;
}

[my_toys_details] {
	flex: 1000 1 600px;
}

[my_toys_catalog_close] {
	color: inherit;
	padding: 1rem;
}

[my_toys_goods] {
	align-items: stretch;
}

[my_toys_toy_card] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	flex: 1 1 16rem;
	margin: .5rem 0;
	padding: .75rem;
	flex-direction: column-reverse;
}

[my_toys_toy_image] {
    width: 4.5rem;
	width: 50%;
    margin: 0px 1rem 0 0;
}

[my_toys_toy_title] {
	width: 100%;
	font-size: .8em;
}

[my_toys_toy_option] {
	display: flex;
	flex-direction: row;
	align-items:flex-start;
}

[my_toys_toy_detail] {
	display: flex;
	flex-direction: column;
}

[my_toys_toy_price] {
	font-size: 1.4em;
}

[my_toys_toy_count] {
	font-size: .8em;
}

[my_toys_sort_up_down] {
	margin: .4rem 0;
}

[my_toys_show_tools] {
	transform: rotate(90deg);
}

[my_toys_tools_row] {
	flex: 1 1 auto;
	margin: 0;
	box-shadow: none;
	display: flex;
}

[my_toys_bar_sort] {
	flex: 0 0 auto;
	margin-left: auto;
	box-shadow: none;
	display: flex;

}

[my_toys_tools_cards] {
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin: 0;
}
