:root {
	--mol_skin_accent: #d45e9f;
}

[my_toys] [mol_page_head] {
	background: var(--mol_skin_light);
	color: var(--mol_skin_light_text);
	border-bottom: .5rem solid var(--mol_skin_base);
	flex-wrap: nowrap;
}
