[my_toys_details] {
	flex: 1 1 400px;
}

[my_toys_details_body] {
	padding: .5rem;
}

[my_toys_details_image] {
	flex: 1 1 20rem;
	margin: .5rem;
}

[my_toys_details_photo] {
	width: 100%;
	display: block;
}

[my_toys_details_main] {
	display: flex;
	flex-wrap: wrap;
}

[my_toys_details_info] {
	flex: 1000 1 auto;
	display: flex;
	flex-direction: column;
}

[my_toys_details_description] {
	display: block;
	margin: .5rem;
	max-width: 60rem;
}

[my_toys_details_price] {
	font-size: 1.5rem;
	margin: .5rem;
}

[my_toys_details_parameters] {
	margin: .5rem;
	display: flex;
	flex-direction: column;
}

[my_toys_details_buy_link] {
	margin: .5rem;
	padding: 0;
	display: flex;
	flex-direction: column;
}
