[hyoo_toys_catalog] {
	flex: 1000 1 400px;
}

[hyoo_toys_catalog_logo] {
	box-shadow: none;
	height: 2.5rem;
	align-self: center;
	flex: none;
	margin: 0 1rem;
}

[hyoo_toys_catalog_filter_title] {
	align-self: stretch;
}

[hyoo_toys_catalog_goods] {
	align-items: stretch;
	padding: 0;
	min-height: 1rem;
}

[hyoo_toys_catalog_toy_card] {
	display: block;
	flex: 1 1 18rem;
	margin: 0;
	padding: .5rem;
}

[hyoo_toys_catalog_toy_image] {
    width: 5.5rem;
	height: 5.5rem;
    margin: .5rem;
}

[hyoo_toys_catalog_toy_title] {
	display: block;
	margin: 0 .5rem;
	font-weight: bolder;
}

[hyoo_toys_catalog_toy_type] {
	display: block;
	margin: 0 .5rem;
}

[hyoo_toys_catalog_toy_option] {
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	flex-wrap: wrap;
}

[hyoo_toys_catalog_toy_info] {
	margin: .5rem;
	display: flex;
	flex-direction: column;
}

[hyoo_toys_catalog_toy_price] {
	font-size: 1.5em;
}

[hyoo_toys_catalog_toy_reviews] {
}
